body {
    color: #000;
    font-family: Segoe UI Light, Segoe UI, Tahoma, Arial, Verdana;
    font-size: 12px;
    background-color: rgba(var(--palette-neutral-2, 248, 248, 248), 1);
}

.vso-container {
    margin-left: 30px !important;
    background-color: rgba(var(--palette-neutral-0, 255, 255, 255), 1);
}

.menueItemRight {
    float: right;
}

.combo {
    width: 95% !important;
}

.toolbar {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
    color: #1e1e1e;
    font: 12px Segoe UI, Tahoma, Arial, Verdana;
    height: 38px;
    margin: 100px 10px;
    overflow: hidden;
    padding: 0;
}

.error-message {
    background-color: #ffffcc;
    border: 1px solid #D56B01;
}

.menu-bar {
    overflow: hidden;
    padding: 0;
    -moz-user-select: none;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    position: relative;
    color: #1e1e1e;
    font: 12px Segoe UI, Tahoma, Arial, Verdana;
}

.votingheadline {
    color: #000;
    font-weight: lighter;
    font-size: 18px;
    padding-left: 10px;
    float: left;
    color: rgba(var(--palette-neutral-100, 0, 0, 0), 1);
}

.bodytitle {
    color: #000;
    font-family: Segoe UI, Tahoma, Arial, Verdana;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.votingh2 {
    color: #000;
    font-weight: lighter;
    font-size: 16px;
}

.voting-plus {
    display: none !important;
    cursor: pointer !important;
}

.grid-row-hover>.grid-buttonVoteUp-holder>span>.voting-plus {
    display: inline-block !important;
}

.voting-remove {
    display: none !important;
    cursor: pointer !important;
}

.grid-row-hover>.grid-buttonVoteDown-holder>span>.voting-remove {
    display: inline-block !important;
}

.glyphicon-plus {
    color: forestgreen;
}

.glyphicon-remove {
    color: #d00;
}

.glyphicon-info-sign {
    color: #00c8ff;
}

.glyphicon-stop {
    color: #d00;
}

.epic-color {
    background-color: rgb(255, 123, 0);
}

.feature-color {
    background-color: rgb(119, 59, 147);
}

.requirement-color {
    background-color: rgb(0, 156, 204);
}

.task-color {
    background-color: rgb(242, 203, 29);
}

.productbacklogitem-color {
    background-color: rgb(0, 156, 204);
}

.userstory-color {
    background-color: rgb(0, 156, 204);
}

.bug-color {
    background-color: rgb(204, 41, 61);
}

.work-item-color {
    width: 6px;
    height: 100%;
    display: inline-block;
    margin-right: 4px;
    margin-left: 1px;
    border: 2px solid transparent;
    vertical-align: top;
}

.readOnly {
    cursor: not-allowed !important;
    color: #ccc !important;
}

span.required {
    color: #d00;
}

/* START: bootstrap notify */
[data-notify="container"][class*="alert-pastel-"] {
    background-color: rgb(255, 255, 255);
    border-width: 0;
    border-left: 15px solid rgb(0, 156, 204);
    border-radius: 0;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
    letter-spacing: 1px;
}

[data-notify="container"].alert-pastel-success {
    border-left-color: rgb(0, 156, 204);
}

[data-notify="container"].alert-pastel-danger {
    border-left-color: #d00;
}

[data-notify="container"][class*="alert-pastel-"]>[data-notify="title"] {
    color: rgb(80, 80, 57);
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
}

[data-notify="container"][class*="alert-pastel-"]>[data-notify="message"] {
    font-weight: 400;
}

/* END: bootstrap notify */

.voting-info-bar {
    background-color: rgba(var(--background-color, #e6e6e6), 1);
    margin-left: -5px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(var(--palette-neutral-20, 200, 200, 200), 1);
}

.voting-info-bar>div.titleBar>p {
    font-weight: bold;
}

#teamFilter.hub-pivot {
    margin-top: 1rem;
    position: absolute;
}