<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Voting</title>
    <script src="vss.js"></script>
    <% htmlWebpackPlugin.files.css.forEach(function (src) { %>
    <link rel="stylesheet" href="<%= src.replace('dist/', '') %>">
    <% }) %>
</head>

<body>
    <div class="hide" id="votingPage">
        <div id="waitContainer"></div>
        <div class="vso-container">
            <div class="row">
                <h1 class="votingheadline">Voting</h1>
                <div class="hub-pivot">
                    <div class="filters filter-container"></div>
                </div>

                <div id="progressBar" class="hub-progress pageProgressIndicator" style="display: none;"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div id="votingMenue-container" class="toolbar" v-bind:class="{ hide: !isVisible() }"></div>
                    </div>
                </div>
            </div>

            <div id="contentVotingActive" class="row voting-info-bar" v-bind:class="{ hide: !isVisible() }">
                <div id="titleDiv" class="col-sm-6 titleBar">
                    <p v-if="actualVoting != null">{{ actualVoting.title }}</p>
                </div>

                <div id="remainingVotesDiv" class="col-sm-2 col-sm-offset-2">
                    <p v-if="remainingVotes > 1">You have {{ remainingVotes }} votes left</p>
                    <p v-else-if="remainingVotes === 1">You have 1 vote left</p>
                    <p v-else>You have no votes left</p>
                </div>

                <div id="voteLimitDiv" class="col-sm-2" style="text-align: right">
                    <p>Vote limit per work item: {{ actualVoting.voteLimit }}</p>
                </div>

                <div id="informationDiv" class="col-sm-12">
                    <p v-if="actualVoting != null">{{ actualVoting.description }}</p>
                </div>

                <div id="informationDiv" class="col-xs-6" data-toggle="tooltip" :title="getLocaleTimeString(actualVoting.start)">
                    <p v-if="status === 5">
                        Starts:
                        <timeago :datetime="getDatetimeString(actualVoting.start)" :auto-update="60">
                            {{ getRelativeTimeString(actualVoting.start) }}
                        </timeago>
                    </p>
                    <p v-else-if="actualVoting.useStartTime">
                        Has started:
                        <timeago :datetime="getDatetimeString(actualVoting.start)" :auto-update="60">
                            {{ getRelativeTimeString(actualVoting.start) }}
                        </timeago>
                    </p>
                </div>

                <div id="informationDiv" class="col-xs-6" style="text-align: right" data-toggle="tooltip" :title="getLocaleTimeString(actualVoting.end)">
                    <p v-if="status === 6">
                        Overdue:
                        <timeago :datetime="getDatetimeString(actualVoting.end)" :auto-update="60">
                            {{ getRelativeTimeString(actualVoting.end) }}
                        </timeago>
                    </p>
                    <p v-else-if="actualVoting.useEndTime">
                        Ends:
                        <timeago :datetime="getDatetimeString(actualVoting.end)" :auto-update="60">
                            {{ getRelativeTimeString(actualVoting.end) }}
                        </timeago>
                    </p>
                </div>
                
                <div class="col-sm-12" id="errorMessage" v-if="status === 0">
                    <p id="votingdisabledmessage">
                        <span class="bowtie-icon bowtie-status-warning"></span>
                        The voting session is disabled. Create a new voting at the
                        <a id="linkToAdminpage" :href="adminpageUri" target="_blank">admin page</a>
                    </p>
                </div>
                
                <div class="col-sm-12" id="errorMessage" v-if="status === 2">
                    <p id="votingdisabledmessage">
                        <span class="bowtie-icon bowtie-status-warning"></span>
                        The voting session is paused. You can only take a look at the voting result.
                    </p>
                </div>
                
                <div class="col-sm-12" id="errorMessage" v-if="status === 4">
                    <p id="userInformationNotConfirmedMessage">
                        <span class="bowtie-icon bowtie-status-warning"></span>
                        The voting session is disabled since the terms of use are not confirmed. To be able to vote refresh the
                        page and confirm the terms of use in
                        the upcoming dialog.
                    </p>
                </div>
                
                <div class="col-sm-12" id="errorMessage" v-if="status === 5">
                    <p id="votingdisabledmessage">
                        <span class="bowtie-icon bowtie-status-warning"></span>
                        The voting session has not yet started, but you can take a look at the vote list.
                    </p>
                </div>
                
                <div class="col-sm-12" id="errorMessage" v-if="status === 6">
                    <p id="votingdisabledmessage">
                        <span class="bowtie-icon bowtie-status-warning"></span>
                        The voting session has expired. You can only take a look at the voting result.
                    </p>
                </div>

            </div>

            <div class="row">
                <div id="grid-container" class="col-sm-12" v-bind:class="{ hide: !isVisible() }">
                </div>

                <div id="nothingToVote" class="col-sm-12" v-bind:class="{ hide: status !== 3 }">
                    <div class="hub-no-content-gutter gutter-banner">
                        <div class="gutter-banner-container">
                            <div class="gutter-banner-text">
                                <h2 class="votingh2">It's lonely in here!</h2>
                                <p>There is nothing to vote for...</p>
                            </div>

                            <div class="gutter-banner-icon">
                                <div class="image image-vso-cloud"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        VSS.init({
            explicitNotifyLoaded: true,
            usePlatformScripts: true,
            usePlatformStyles: true,
            moduleLoaderConfig: {},
            applyTheme: true
        });

        VSS.require(["vendors.js", "voting.js"], function () {
            VSS.notifyLoadSucceeded();
        });
    </script>
</body>

</html>
